In [87]:
import pandas as pd
from IPython.display import display

#read data
instaFile ="Resources/social media influencers - instagram.csv" 
instagram_df1= pd.read_csv(instaFile)
#display(instagram_df1)

instaFile2="Resources/instagram_global_top_1000.csv"
instagram_df2= pd.read_csv(instaFile2)
#display(instagram_df2)


#data cleaning 

#display(instagram_df1.isnull().sum())
#drop rows from dataframe where category is missing
#drop rows where country data is missing

instagram_df1 = instagram_df1.dropna(subset=['category_1'])
instagram_df1 = instagram_df1.dropna(subset=['Audience country(mostly)'])
# Check how many having missing are dropped
#display(instagram_df1.isnull().sum())

#drop rows with duplicate instagram instance name
instagram_df1 =instagram_df1.drop_duplicates(subset=["instagram name"],keep='last')

#remove spaces if any from attributes
instagram_df1.columns = instagram_df1.columns.str.replace(' ', '')
# replace messy string column names
instagram_df1.columns=instagram_df1.columns.str.replace('[\t|\n|\r]','',regex=True)


#Convert millions(M) and thousands(K) string data values from 3 columns to numerical form
instagram_df1["Followers"]=instagram_df1["Followers"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Authenticengagement"]=instagram_df1["Authenticengagement"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Engagementavg"]=instagram_df1["Engagementavg"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)


display(instagram_df1)

,Influencerinstaname,instagramname,category_1,category_2,Followers,Audiencecountry(mostly),Authenticengagement,Engagementavg
0,433,433,Sports with a ball,NaN,48500000,Spain,383100,637000
1,__youngbae__,TAEYANG,Music,NaN,12700000,Indonesia,478000,542300
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,Shows,NaN,18800000,Russia,310800,377900
3,_imyour_joy,Joy,Lifestyle,NaN,13500000,Indonesia,1100000,1400000
6,_rl9,Robert Lewandowski,Sports with a ball,NaN,25000000,Poland,588600,749000
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136100000,United States,6400000,8600000
996,zidane,zidane,Sports with a ball,NaN,31200000,Spain,546000,744100
997,zkdlin,KAI,Music,NaN,13900000,Indonesia,1300000,1600000
998,zoeisabellakravitz,Zoë Kravitz,Cinema & Actors/actresses,NaN,8199999,United States,583000,885500
999,zoesugg,Zoë Sugg,Lifestyle,Business & Careers,9400000,United Kingdom,208700,289300

In [91]:
youtubeFile ="Resources/social media influencers - youtube.csv" 
youtube_df= pd.read_csv(youtubeFile)
youtube_df

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290
1,checkgate,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,setindia,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...,...
995,FutParódias,FutParódias,Music & Dance,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,EL GATO,Toys,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,CinemaSins,Movies,9.2M,United States,296K,10.2K,874
998,CricketICC,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,BRKsEDU,Animation,9.2M,Brazil,112.3K,9.8K,246

In [4]:
tiktokFile ="Resources/social media influencers - tiktok.csv" 
tiktok_df= pd.read_csv(tiktokFile)
tiktok_df

,Tiktoker name,Tiktok name,Subscribers count,Views avg.,Likes avg,Comments avg.,Shares avg
0,ekin.721,MOMO’s,221.7K,26M,2.8M,29.4K,116.4K
1,dojacat,Doja Cat,22.2M,25.4M,5M,36.7K,46.8K
2,kiet.ac.quy,Kiệt Ắk Wỷ,2.1M,20.7M,3.5M,38.8K,33.9K
3,charlidamelio,charli d’amelio,135.4M,18.7M,2.6M,54.7K,35.2K
4,luvadepedreiro,Iran Ferreira (Lai),11.4M,24.8M,2.6M,32.7K,26.8K
...,...,...,...,...,...,...,...
995,nicolebernaal,nicolebernaal,4M,2.2M,351.3K,957,195
996,bellaretamosa,bella,5.1M,2.5M,340.4K,901,145
997,tunico80,🌠Antonio Tonon🌠,5.8M,1M,206.8K,2K,2.1K
998,armon.warren,Armoney,1.2M,1.9M,300.8K,904,630
999,soanhvadiephihi,Soanh x Diệp 💎,1.6M,2.6M,273.2K,720,530