In [26]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [28]:
#conversion function for turning string numbers (ex: 5K) into actual numbers(ex: 5000)
def convert(value):
    if value:
        multiple = 1
        if value.endswith("K"):
            multiple = 1000
            value = value[0:len(value)-1]
        elif value.endswith("M"):
            multiple = 1000000
            value = value[0:len(value)-1]
        return int(float(value) * multiple)
    else:
        return 0

In [8]:
import pandas as pd
from IPython.display import display

#read data
instaFile ="Resources/social media influencers - instagram.csv" 
instagram_df1= pd.read_csv(instaFile)
#display(instagram_df1)

instaFile2="Resources/instagram_global_top_1000.csv"
instagram_df2= pd.read_csv(instaFile2)
#display(instagram_df2)


#data cleaning 

#display(instagram_df1.isnull().sum())
#drop rows from dataframe where category is missing
#drop rows where country data is missing

instagram_df1 = instagram_df1.dropna(subset=['category_1'])
instagram_df1 = instagram_df1.dropna(subset=['Audience country(mostly)'])
# Check how many having missing are dropped
#display(instagram_df1.isnull().sum())

#drop rows with duplicate instagram instance name
instagram_df1 =instagram_df1.drop_duplicates(subset=["instagram name"],keep='last')

#remove spaces if any from attributes
instagram_df1.columns = instagram_df1.columns.str.replace(' ', '')
# replace messy string column names
instagram_df1.columns=instagram_df1.columns.str.replace('[\t|\n|\r]','',regex=True)


#Convert millions(M) and thousands(K) string data values from 3 columns to numerical form
instagram_df1["Followers"]=instagram_df1["Followers"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Authenticengagement"]=instagram_df1["Authenticengagement"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Engagementavg"]=instagram_df1["Engagementavg"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)


display(instagram_df1)

,Influencerinstaname,instagramname,category_1,category_2,Followers,Audiencecountry(mostly),Authenticengagement,Engagementavg
0,433,433,Sports with a ball,NaN,48500000,Spain,383100,637000
1,__youngbae__,TAEYANG,Music,NaN,12700000,Indonesia,478000,542300
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,Shows,NaN,18800000,Russia,310800,377900
3,_imyour_joy,Joy,Lifestyle,NaN,13500000,Indonesia,1100000,1400000
6,_rl9,Robert Lewandowski,Sports with a ball,NaN,25000000,Poland,588600,749000
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136100000,United States,6400000,8600000
996,zidane,zidane,Sports with a ball,NaN,31200000,Spain,546000,744100
997,zkdlin,KAI,Music,NaN,13900000,Indonesia,1300000,1600000
998,zoeisabellakravitz,Zoë Kravitz,Cinema & Actors/actresses,NaN,8199999,United States,583000,885500
999,zoesugg,Zoë Sugg,Lifestyle,Business & Careers,9400000,United Kingdom,208700,289300
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136.1M,United States,6.4M,8.6M
996,zidane,zidane,Sports with a ball,NaN,31.2M,Spain,546K,744.1K
997,zkdlin,KAI,Music,NaN,13.9M,Indonesia,1.3M,1.6M
998,zoeisabellakravitz,Zoë Kravitz,Cinema & Actors/actresses,NaN,8.2M,United States,583K,885.5K
999,zoesugg,Zoë Sugg,Lifestyle,Business & Careers,9.4M,United Kingdom,208.7K,289.3K

In [2]:
#read in youtube data
youtubeFile ="Resources/social media influencers - youtube.csv" 
youtube_df= pd.read_csv(youtubeFile)
youtube_df

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290
1,checkgate,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,setindia,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...,...
995,FutParódias,FutParódias,Music & Dance,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,EL GATO,Toys,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,CinemaSins,Movies,9.2M,United States,296K,10.2K,874
998,CricketICC,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,BRKsEDU,Animation,9.2M,Brazil,112.3K,9.8K,246

In [3]:
#find duplicate youtubers
]yt_unique = len(youtube_df["youtuber name"].unique())
youtube_df.loc[youtube_df.duplicated(keep = False),:]

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
549,ETV Jabardasth,ETV Jabardasth,NaN,12.5M,India,192.6K,2.7K,44
550,ETV Jabardasth,ETV Jabardasth,NaN,12.5M,India,192.6K,2.7K,44

In [47]:
#data cleaning for youtube data
clean_yt = youtube_df.drop(549)
clean_yt["Subscribers"] = [convert(value) for value in clean_yt["Subscribers"]]
clean_yt["avg views"] = [convert(value) for value in clean_yt["avg views"]]
clean_yt["avg likes"] = clean_yt["avg likes"].fillna(0)
clean_yt["avg likes"] = [convert(value) for value in clean_yt["avg likes"]]
clean_yt["avg comments"] = clean_yt["avg comments"].fillna(0)
clean_yt["avg comments"] = [convert(value) for value in clean_yt["avg comments"]]
clean_yt.sort_values("Subscribers", ascending = False).reset_index()

clean_yt = clean_yt.dropna(subset = ["Category"])
clean_yt.reset_index()

,index,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
0,0,tseries,T-Series,Music & Dance,212100000,India,323700,9800,290
1,1,checkgate,Cocomelon - Nursery Rhymes,Education,132100000,NaN,13800000,80900,0
2,3,PewDiePie,PewDiePie,Animation,111400000,United States,1400000,80800,4600
3,4,MrBeast6000,MrBeast,Video games,92500000,United States,30600000,1700000,67700
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,92400000,NaN,10600000,46800,0
...,...,...,...,...,...,...,...,...,...
718,995,FutParódias,FutParódias,Music & Dance,9200000,Brazil,1400000,110100,2500
719,996,EL GATO,EL GATO,Toys,9200000,Brazil,243800,30700,636
720,997,CinemaSins,CinemaSins,Movies,9200000,United States,296000,10200,874
721,998,CricketICC,ICC,Sports,9200000,India,15200,854,58
722,999,BRKsEDU,BRKsEDU,Animation,9200000,Brazil,112300,9800,246

In [5]:
#read in tik tok data
tiktokFile ="Resources/social media influencers - tiktok.csv" 
tiktok_df= pd.read_csv(tiktokFile)
tiktok_df

,Tiktoker name,Tiktok name,Subscribers count,Views avg.,Likes avg,Comments avg.,Shares avg
0,ekin.721,MOMO’s,221.7K,26M,2.8M,29.4K,116.4K
1,dojacat,Doja Cat,22.2M,25.4M,5M,36.7K,46.8K
2,kiet.ac.quy,Kiệt Ắk Wỷ,2.1M,20.7M,3.5M,38.8K,33.9K
3,charlidamelio,charli d’amelio,135.4M,18.7M,2.6M,54.7K,35.2K
4,luvadepedreiro,Iran Ferreira (Lai),11.4M,24.8M,2.6M,32.7K,26.8K
...,...,...,...,...,...,...,...
995,nicolebernaal,nicolebernaal,4M,2.2M,351.3K,957,195
996,bellaretamosa,bella,5.1M,2.5M,340.4K,901,145
997,tunico80,🌠Antonio Tonon🌠,5.8M,1M,206.8K,2K,2.1K
998,armon.warren,Armoney,1.2M,1.9M,300.8K,904,630
999,soanhvadiephihi,Soanh x Diệp 💎,1.6M,2.6M,273.2K,720,530

In [6]:
#Find duplicate Tiktokers
TT_unique = len(tiktok_df["Tiktoker name"].unique())
tiktok_df.loc[tiktok_df.duplicated(keep = "first"),:]

,Tiktoker name,Tiktok name,Subscribers count,Views avg.,Likes avg,Comments avg.,Shares avg
50,conormaynard,Conor Maynard,6.2M,5.8M,794.3K,8.9K,6.6K
200,k1lauea,killazz,128.2K,1.8M,451.4K,9.1K,3.7K
201,noreportar08,noreportar08,265.3K,4M,104.9K,11.1K,12.9K
202,elrodcontreras,ROD🥴,40.1M,3.3M,521K,4.8K,1K
300,arigameplays,AriGameplays,19.3M,2.6M,444.6K,4.5K,915
301,tommyinnit,Tommy,11.5M,1.5M,432.1K,7.6K,1.9K
500,monabouchon_,Monabouchon,139.1K,1.5M,127.6K,468,13.7K
600,juandaniel.ibarra,Daniel Ibarra,26.6M,3.3M,353.7K,1.4K,406
950,zhenyalavrik,Переезд в Турцию 🇹🇷,364.5K,3.2M,69.4K,1.8K,2.6K
951,teukuryantr,teukuryantr,3.1M,1.7M,236.8K,1.3K,1.1K
952,jamescharles,James Charles,36.1M,1.7M,191.6K,2.2K,752

In [41]:
#Tik tok data cleaning
clean_tt = tiktok_df.drop([50,200,201,202,300,301,500,600,950,951,952])
clean_tt["Subscribers count"] = [convert(value) for value in clean_tt["Subscribers count"]]
clean_tt["Views avg."] = [convert(value) for value in clean_tt["Views avg."]]
clean_tt["Likes avg"] = [convert(value) for value in clean_tt["Likes avg"]]
clean_tt["Comments avg."] = [convert(value) for value in clean_tt["Comments avg."]]
clean_tt["Shares avg"] = [convert(value) for value in clean_tt["Shares avg"]]
clean_tt.sort_values("Subscribers count", ascending = False).reset_index()

,index,Tiktoker name,Tiktok name,Subscribers count,Views avg.,Likes avg,Comments avg.,Shares avg
0,3,charlidamelio,charli d’amelio,135400000,18700000,2600000,54700,35200
1,6,khaby.lame,Khabane lame,135200000,17700000,2300000,18000,11200
2,31,bellapoarch,Bella Poarch,88500000,11100000,1000000,14300,1600
3,27,addisonre,Addison Rae,87300000,9300000,1200000,13400,5900
4,63,willsmith,Will Smith,67400000,6900000,658500,10000,2000
...,...,...,...,...,...,...,...,...
984,573,.mats.ftl,❤️‍🔥Лёша Мэтс❤️‍🔥,6700,1700000,210200,1700,4600
985,750,.shuberrr,максончиq,5800,2000000,152700,2100,2800
986,511,blake.snider,Blake Snider,4600,2800000,150700,967,5500
987,835,bestluxurycars,Bestluxurycars,3000,769500,136900,1400,10200
988,427,ermmm.umm,user569215425698,2100,1900000,254500,2300,4800